.log-reg {
	background-color: #1A1A1D;
	color: white;
	font-size: 20px;
	padding: 50px;
}

.form {
	background-color: #29292C;
	padding: 30px;
	border: solid 2px #3B3B3E;
	border-radius: 8px;
}

.form-name-label {
	font-weight: bold;
	color: #5BCD91;
	font-size: 26px;
	padding-bottom: 20px;
}

.form-label {
	font-weight: bold;
}

.form-entry {
	background-color: #1A1A1D;
	color: white;
	border: solid 2px transparent;
	border-radius: 8px;
	caret-color: white;
	margin: 5px 0;
}

.form-entry:focus {
	border-color: #5BCD91;
	box-shadow: none;
	transition: 0.3s;
}

.form-message {
	color: #D13325;
	font-size: 18px;
	margin: 5px 0;
}

.form-button {
	background: #5F4BDA;
	color: white;
	font-weight: bold;
	border: none;
	outline: none;
	border-radius: 8px;
	margin: 5px 0;
	padding: 8px;
}

.form-button:hover, .form-button:active {
	background: #5946AB;
	transition: 0.3s;
}

.form-link-label, .form-link {
	margin-top: 5px;
	font-size: 18px;
}

.form-link {
	background: transparent;
	color: #5BCD91;
	border: none;
	outline: none;
	padding: 0;
}

.form-link:hover, .form-link:active {
	color: #A2CD91;
	transition: 0.3s;
}

