window {
	background-color: #1A1A1D;
	/*font-family: sans-serif;*/
	font-size: 20px;
	color: white;
}

button, button:hover, entry, entry:focus {
	box-shadow: none;
}

.log-reg {
	padding: 50px;
	background: 
		url("resources/background.png"),
		linear-gradient(90deg, #604BDC, #5BCD91);
}

.form, .uf-container {
	background-color: #29292C;
	padding: 40px;
	border: solid 2px #3B3B3E;
	border-radius: 8px;
}

.uf-container-label {
	font-weight: bold;
	color: #D13325;
	font-size: 26px;
	margin-bottom: 20px;
}

spinner {
	color: #5BCD91;
	animation: spin 1.5s ease infinite;
}

.uf-retry-label {
	font-weight: bold;
	color: #5BCD91;
	margin: 15px;
}

.uf-retry-button {
	background: transparent;
	font-weight: bold;
	color: #7F7F7F;
	border: none;
	outline: none;
	border-radius: 8px;
	padding: 5px;
}

.uf-retry-button:hover,
.reconnect-message-button:hover {
	color: #AFAFAF;
	transition: 0.3s;
}

.reconnect-message {
	background-color: #29292C;
	border: solid 2px #3B3B3E;
	box-shadow: 0 0 5px 2px #1A1A1D;
	padding: 5px;
	border-radius: 8px;
	margin: 2px 5px 10px 10px;
}

.reconnect-message-label {
	font-weight: bold;
	font-size: 14px;
	color: #5BCD91;
	margin-left: 5px;
}

.reconnect-message-button {
	background: transparent;
	font-weight: bold;
	font-size: 14px;
	color: #7F7F7F;
	border: none;
	outline: none;
	border-radius: 8px;
	padding: 0 3px;
}

.form-name-label {
	font-weight: bold;
	color: #5BCD91;
	font-size: 26px;
	margin-bottom: 20px;
}

.form-label {
	font-weight: bold;
	margin-top: 5px;
}

.form-entry {
	background-color: #1A1A1D;
	color: white;
	border: solid 2px transparent;
	border-radius: 8px;
	caret-color: white;
	margin: 5px 0;
	padding: 2.5px 8px;
}

.form-entry:focus {
	border-color: #5BCD91;
	transition: 0.3s;
}

.form-pw-container {
	background-color: #1A1A1D;
	border: solid 2px transparent;
	border-radius: 8px;
	margin: 5px 0;
	transition: 0.2s;
}

.form-pw-entry, .form-pw-entry:focus {
	background-color: #1A1A1D;
	color: white;
	border: none;
	border-radius: 8px;
	caret-color: white;
	padding: 2.5px 8px;
}

.form-pw-button {
	background: transparent;
	border: none;
    padding: 0;
    outline: none; 
    background-image: none; 
    margin-right: 2px;
}

.form-message {
	color: #D13325;
	font-size: 18px;
	margin: 5px 0;
}

.form-message-success {
	color: #5BCD91;
}

.form-button {
	background: #604BDC;
	color: white;
	font-weight: bold;
	border: none;
	outline: none;
	border-radius: 8px;
	margin: 5px 0;
	padding: 8px;
}

.form-button:hover, .form-button:active {
	background: #6F54F8;
	transition: 0.3s;
}

.form-link-label, .form-link {
	margin-top: 5px;
	font-size: 18px;
}

.form-link {
	background: transparent;
	color: #5BCD91;
	border: none;
    padding: 0;
    outline: none; 
    background-image: none; 
}

.form-link:hover, .form-link:active {
	color: #70F7B5;
	transition: 0.3s;
    background: transparent;
	border: none;
    padding: 0;
    outline: none; 
    background-image: none; 
}

.menu {
    background-color: #29292C;
    margin: 0;
    border: none;
    border-right: solid 2px #3B3B3E;
}

.menu-button {
    background: rgba(0,0,0,0);
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    padding: 7px;
    padding-left: 12px;
}

.menu-button:hover, .menu-button:active {
    background: #3B3B3E;
    transition: 0.3s;
    border-radius: 0px;
}

.menu-button-selected {
    background: #3B3B3E;
    transition: 0.3s;
    border-radius: 0px;
    border-right: solid 5px #5BCD91;
}

.chat-button-unread-border {
    border-right: solid 5px #D13325;
}

.chat-button-label {
	font-weight: bold;
	color: white;
	font-size: 15px;
	margin: 3px 5px 3px 12px;
}

.chat-button-bottom-box {
	margin-left: 12px;
}

.chat-button-sender {
	color: white;
	font-size: 13px;
	margin: 3px 0;
}

.chat-button-light {
	color: #7F7F7F;
	font-size: 13px;
	margin: 3px 0;
}

.chat-button-unread {
	font-weight: bold;
	color: #D13325;
	font-size: 14px;
	margin: 3px 0;
}

.gchats {
    font-weight: bold;
    font-size: 26px;
    padding: 20px 0;
    color: #5BCD91;
    opacity: 0;
    animation: fadeIn 3s forwards;  
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.dots {
    background: rgba(0,0,0,0);
    color: #604BDC;
    font-size: 25px;
    font-weight: bold;
    border: none;
    outline: none;
    margin-left: 15px;
}

.dots:hover {
    color: #6F54F8;
    transition: 0.3s
}

.central-area {
	background: 
		url("resources/background.png"),
		linear-gradient(90deg, #604BDC, #5BCD91);
}

.clear-area-container {
	background-color: #29292C;
	border: solid 2px #3B3B3E;
	border-radius: 8px;
	padding: 10px 20px;
	margin: 70px;
}

.main_page_form {
	padding: 70px;
}

.newchats {
    background-color: #29292C;
    color: white;
    padding: 30px;
    border: solid 2px #3B3B3E;
    border-radius: 8px;
}

.newchats-button {
    background: #604BDC;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 100%;
    margin-left: 5px;
}

.newgroup-label {
    font-weight: bold;
    padding-bottom: 10px;
}

.newchats-button:hover, .newchats-button:active {
	background: #6F54F8;
	transition: 0.3s;
}

.newchats-users-button {
	background: #5BCD91;
	color: #1A1A1D;
	font-weight: bold;
	border: none;
	outline: none;
	border-radius: 8px;
	margin: 5px;
	padding: 8px;
}

.status {
    color: #5BCD91;
    margin-bottom: 30px;
}

.img-edit {
    margin-bottom: 10px;
    border-radius: 100%;
	min-width: 300px;
    min-height: 150px;
}

.profile-name {
    font-weight: bold;
    margin-top: 5px;
	margin-bottom: 10px;
}

.profile-link {
    background: rgba(0,0,0,0);
    color: #7F7F7F;
    border: none;
    outline: none;
    padding: 0;
    margin-top: 35px;
    background-image: none; 
}

.profile-link:hover {
    color: #AFAFAF;
    transition: 0.3s;
}

/* input box */

.input-box {
    background-color: #29292C;
    padding: 5px 10px;
    border-top: solid 2px #3B3B3E;
    margin-top: 2px;
}

.message-entry-box {
	background-color: #1A1A1D;
	border: solid 2px transparent;
	border-radius: 8px;
	margin: 5px 0;
	transition: 0.2s;
}

.focus {
	border-color: #5BCD91;
	transition: 0.3s;
}

.message-entry, .message-entry text {
	background-color: #1A1A1D;
	color: white;
	border: none;
	border-radius: 8px;
	caret-color: white;
	padding: 2.5px 8px;
}

scrolledwindow box {
	background-color: transparent;
}

scrollbar, scrollbar contents trough {
	background-color: #3B3B3E;
	border: none;
}

scrollbar contents trough slider {
	background-color: #5BCD91;
}

textview text selection, entry selection {
	background-color: #3B3B3E;
}

.input-button {
    background-color: transparent;
    border: none;
    padding: 0;
    outline: none;
    background-image: none; 
    margin: 5px;
}

.smile-window {
	background-color: #29292C;
	border: solid 2px #3B3B3E;
	border-radius: 8px;
	padding: 5px;
}

.smile-window grid {
	margin: 10px;
}

.smile-window grid button {
	background-color: transparent;
    border: none;
	border-radius: 8px;
    padding: 5px;
	outline: none;
    background-image: none; }

	.smile-window grid button:hover {
		background-color: #3B3B3E;
		transition: 0.3s;
	}
	.send-button {
		background-color: #2C2C2E;
		border: none;
		padding: 0;
		outline: none;
		background-image: none;
		margin-left: 10px;
	}

 /* Style for the combo box itself (entry part) */
combobox.form-role, combobox.form-role * {
    background-color: transparent;
    background-image: none;
    color: white;
    border: none;
	padding: 2px 0;
    margin: 0;
    box-shadow: none;
}

combobox.form-role .combo-box-entry, 
combobox.form-role .entry {
    background-color: #1A1A1D;
    border: none;
    box-shadow: none;
    color: white;
	padding: 2px 10px;
    margin: 0;
    border-radius: 8px;
}

/* Focus state for combo box */
combobox.form-role .combo-box-entry:focus, 
combobox.form-role .entry:focus {
    border: 2px solid #5BCD91;
    transition: border-color 0.3s;
}

/* Style for the dropdown popup (menu) */
combobox.form-role button {
    background-color: transparent; /* Transparent background for the button */
    border: none;
    box-shadow: none;
	color: white;
	padding: 2px 5px;
}

/* Style for the items inside the dropdown list */
combobox.form-role button:hover {
    background-color: #29292C;
}

/* Style for selected item */
combobox.form-role .popup {
    background-color: #1A1A1D;
    color: white;
    border-radius: 8px;
}

/* Hover state for items */
combobox.form-role .popup .menu-item {
    background-color: #5BCD91;
    color: #604BDC;
    border-radius: 4px;
}

.outgoing-messages {
    background: #604BDC;
    color: white;
    border: none;
    border-radius: 15px;
    margin: 5px;
}

.outgoing-messages:hover {
    background: #604BDC;
}

.username-label {
    font-weight: bold;
    color: #5BCD91; /* Green color */
    font-size: 14px;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 10px;
}

.ingoing-messages {
    background: #29292C;
    color: white;
    border: none;
    border-radius: 15px;
    margin: 5px;
}

.ingoing-messages:hover {
    background: #29292C;
}

.small-inscriptions {
    color: white;
    font-size: 13px;
    margin: 3px 0;
}

.play-button {
    background: transparent;
    border: none;
}

.play-button:hover {
    background: transparent;
}

