window {
	background-color: #1A1A1D;
	font-size: 20px;
	color: white;
}

.log-reg {
	padding: 50px;
}

.form {
	background-color: #29292C;
	padding: 40px;
	border: solid 2px #3B3B3E;
	border-radius: 8px;
}

.form-name-label {
	font-weight: bold;
	color: #5BCD91;
	font-size: 26px;
	margin-bottom: 20px;
}

.form-label {
	font-weight: bold;
	margin-top: 5px;
}

.form-entry {
	background-color: #1A1A1D;
	color: white;
	border: solid 2px transparent;
	border-radius: 8px;
	caret-color: white;
	margin: 5px 0;
	padding: 2.5px 8px;
}

.form-entry:focus {
	border-color: #5BCD91;
	box-shadow: none;
	transition: 0.3s;
}

.form-pw-container {
	background-color: #1A1A1D;
	border: solid 2px transparent;
	border-radius: 8px;
	margin: 5px 0;
	transition: 0.2s;
}

.form-pw-container-focus {
	border-color: #5BCD91;
	transition: 0.3s;
}

.form-pw-entry, .form-pw-entry:focus {
	background-color: #1A1A1D;
	color: white;
	border: none;
	border-radius: 8px;
	box-shadow: none;
	caret-color: white;
	padding: 2.5px 8px;
}

.form-pw-button {
	background: transparent;
	border: none;
	outline: none;
	border-radius: 8px;
	padding: 5px;
}

.form-message {
	color: #D13325;
	font-size: 18px;
	margin: 5px 0;
}

.form-message-success {
	color: #5BCD91;
}

.form-button {
	background: #604BDC;
	color: white;
	font-weight: bold;
	border: none;
	outline: none;
	border-radius: 8px;
	margin: 5px 0;
	padding: 8px;
}

.form-button:hover, .form-button:active {
	background: #6F54F8;
	transition: 0.3s;
}

.form-link-label, .form-link {
	margin-top: 5px;
	font-size: 18px;
}

.form-link {
	background: transparent;
	color: #5BCD91;
	border: none;
	outline: none;
	padding: 0;
}

.form-link:hover, .form-link:active {
	color: #70F7B5;
	transition: 0.3s;
}

.menu {
    background-color: #29292C;
    margin: 0;
    border: none;
    border-right: solid 2px #3B3B3E;
}

.menu-button {
    background: rgba(0,0,0,0);
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    padding: 5px;
}

.menu-button:hover, .menu-button:active {
    background: #3B3B3E;
    transition: 0.3s;
    border-radius: 0px;
}

.menu-button-selected {
    background: #3B3B3E;
    transition: 0.3s;
    border-radius: 0px;
    border-right: solid 5px #5BCD91;
}

.box {
    background-color: #1A1A1D;
}

.gchats {
    font-weight: bold;
    color: #5BCD91;
    font-size: 26px;
    padding: 20px;
}

.dots {
    background: rgba(0,0,0,0);
    color: #604BDC;
    font-size: 25px;
    font-weight: bold;
    border: none;
    outline: none;
}

.dots:hover {
    color: #6F54F8;
    transition: 0.3s
}

.newchats {
    background-color: #29292C;
    color: white;
    padding: 30px;
    border: solid 2px #3B3B3E;
    border-radius: 8px;
}

.newchats-button {
    background: #604BDC;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 100%;
    margin-left: 5px;
}

.newgroup-label {
    font-weight: bold;
    padding-bottom: 10px;
}

.newchats-button:hover, .newchats-button:active {
	background: #6F54F8;
	transition: 0.3s;
}

.input-box {
    background-color: #2C2C2E;
    padding: 5px;
    border-radius: 8px; 
}

.newchats-users-button {
	background: #604BDC;
	color: white;
	font-weight: bold;
	border: none;
	outline: none;
	border-radius: 8px;
	margin: 5px;
	padding: 8px;
}

.img-profile {
    border-radius: 100%;
}

.status {
    color: #5BCD91;
    margin-bottom: 30px;
}

.img-edit {
    margin-bottom: 10px;
    border-radius: 100%;
}

.profile-name {
        font-weight: bold;
        margin-top: 5px;
	margin-bottom: 10px;
}

.profile-link {
    background: rgba(0,0,0,0);
    color: #7F7F7F;
    border: none;
    outline: none;
    padding: 0;
    margin-top: 35px;
}

.profile-link:hover {
    color: #AFAFAF;
    transition: 0.3s;
}

.message-entry {
    background-color: #1A1A1D; 
    color: white;
    border: solid 2px transparent; 
    border-radius: 8px; 
    caret-color: white;
    margin: 0 5px; 
    padding: 2.5px 8px;
}

.message-entry:focus {
    border-color: #5BCD91; 
    box-shadow: none; 
    transition: 0.3s;
}

.send-button {
    background:  #1A1A1D;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 8px;
    transition: background-color 0.3s, color 0.3s;
}

.send-button:hover, .send-button:active {
    background: #5BCD91;
    color: white;
    transition: 0.3s;
}

